@model MovieInformation.Services.ApiModels.Responses.MoviePopularResponse

@{
    ViewData["Title"] = "Index";

    Layout = "~/Views/Shared/_LayoutMovieInfor.cshtml";
}

<div class="hero common-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1>Movie Listing - Grid Fullwidth</h1>
                    <ul class="breadcumb">
                        <li class="active"><a href="#">Home</a></li>
                        <li> <span class="ion-ios-arrow-right"></span> movie listing</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="topbar-filter fw">
                    <p>Found <span>@Model.TotalResults movies</span> in total</p>
                    <label>Sort by:</label>
                    <select>
                        <option value="popularity">Popularity Descending</option>
                        <option value="popularity">Popularity Ascending</option>
                        <option value="rating">Rating Descending</option>
                        <option value="rating">Rating Ascending</option>
                        <option value="date">Release date Descending</option>
                        <option value="date">Release date Ascending</option>
                    </select>
                    <a href="movielist.html" class="list"><i class="ion-ios-list-outline "></i></a>
                    <a href="moviegridfw.html" class="grid"><i class="ion-grid active"></i></a>
                </div>
                <div class="flex-wrap-movielist mv-grid-fw">
                    @foreach (var item in Model.Results)
                    {
                    <div class="movie-item-style-2 movie-item-style-1">
                        <img src="https://image.tmdb.org/t/p/original/@(item.PosterPath)" alt="" />
                        <div class="hvr-inner">
                           @Html.ActionLink("Read more","Detail","Movies",new { movieId=item.Id.ToString()}) <i class="ion-android-arrow-dropright"></i>
                        </div>
                        <div class="mv-item-infor">
                            <h6><a href="#">@item.Title</a></h6>
                            <p class="rate"><i class="ion-android-star"></i><span>@item.VoteAverage</span> /10</p>
                        </div>
                    </div>
                    }
                </div>
                <div class="topbar-filter">
                    <label>Movies per page:</label>
                    <select>
                        <option value="range">20 Movies</option>
                        <option value="saab">10 Movies</option>
                    </select>

                    <div class="pagination2">
                        <span>Page 1 of @Model.TotalPages:</span>
                        @for (int i = 1; i <= 3; i++)
                        {                            
                            <a href="Index?page=@i">@i</a>
                        }
                        <a href="#">...</a>
                        @for (int i = (int)Model.TotalPages-1; i <=(int)Model.TotalPages; i++)
                        {
                            <a href="Index?page=@i">@i</a>
                        }

                       
                        <a href="#"><i class="ion-arrow-right-b"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>