@model MovieInformation.Services.ApiModels.Responses.RatedMoviesResponse

@{
    ViewData["Title"] = "Rating Movies";

    Layout = "~/Views/Shared/_LayoutMovieInfor.cshtml";
}

<div class="hero common-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1>Movie Rating</h1>
                    <ul class="breadcumb">
                        <li class="active"><a href="/Home/Index">Home</a></li>
                        <li> <span class="ion-ios-arrow-right"></span> Movies Rating</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="topbar-filter fw">
                    <p>Found <span>@Model.TotalResults movies</span> in total</p>
                    <label>Sort by:</label>
                    <select id="movie-sort">
                        <option value="popularityDes">Popularity Descending</option>
                        <option value="popularityAsc">Popularity Ascending</option>
                        <option value="ratingDes">Rating Descending</option>
                        <option value="ratingAsc">Rating Ascending</option>
                        <option value="releaseDes">Release date Descending</option>
                        <option value="releaseAsc">Release date Ascending</option>
                    </select>
                    <a href="movielist.html" class="list"><i class="ion-ios-list-outline "></i></a>
                    <a href="moviegridfw.html" class="grid"><i class="ion-grid active"></i></a>
                </div>
                <div class="flex-wrap-movielist mv-grid-fw">
                    @foreach (var item in Model.Results)
                    {
                    <div class="movie-item-style-2 movie-item-style-1">
                        <img src="https://image.tmdb.org/t/p/original/@(item.PosterPath)" alt="" />
                        <div class="hvr-inner">
                           @Html.ActionLink("Read more","Detail","Movies",new { movieId=item.Id.ToString()}) <i class="ion-android-arrow-dropright"></i>
                        </div>
                        <div class="mv-item-infor">
                            <h6><a href="/Movies/Detail?movieId=@item.Id">@item.Title</a></h6>
                            <p class="rate"><i class="ion-android-star"></i><span>@item.VoteAverage</span> /10</p>
                            <p class="rate"><i class="ion-android-star"><span style="color:#5ab9f1">Your Rate: </span></i><span>@item.Rating</span> /10</p>
                        </div>
                    </div>
                    }
                </div>
                <div class="topbar-filter">
                    <label>Movies per page:</label>
                    <select>
                        <option value="range">20 Movies</option>
                        <option value="saab">10 Movies</option>
                    </select>

                    <div class="pagination2">
                        <span>Page 1 of @Model.TotalPages:</span>
                        @for (int i = 1; i <= Model.TotalPages; i++)
                        {                            
                            <a href="/Movies/RatedMovies?page=@i">@i</a>
                        }                                             
                        <a href="#"><i class="ion-arrow-right-b"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">    
      let searchParams = new URL(window.location).searchParams;
    let option = searchParams.get('option');    
    let page = searchParams.get('page');    
    if (option!=null) {        
        $("#movie-sort option[value=" + option + "]").prop("selected", "selected");        
    }  
    $("#movie-sort").change(function () {
        var selectedSort = $(this).children("option:selected").val();
        window.location.href = 'https://localhost:44369/movies?page='+page+'&option=' + selectedSort;
    });        
    
</script>