@model MovieInformation.Services.ApiModels.Responses.MoviePopularResponse
@{ 
    MovieInformation.Services.ApiModels.Responses.GenreResponse lstGenres = ViewBag.lstGenres;

 }
<div class="row">
    <div class="slider-single-item">
        @foreach (var item in Model.Results.Take(5))
        {
            <div class="movie-item">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="title-in">
                            <div class="cate">
                                @{
                                    if (item.GenreIds.Count() >= 1)
                                    {
                                        <span class="blue"><a href="#">@lstGenres.Genres.FirstOrDefault(x => x.Id == item.GenreIds[0]).Name</a></span>
                                    }
                                    if (item.GenreIds.Count() >= 2)
                                    {
                                       <span class="yell"><a href="#">@lstGenres.Genres.FirstOrDefault(x => x.Id == item.GenreIds[1]).Name</a></span>
                                    }
                                    if (item.GenreIds.Count() >= 3)
                                    {
                                        <span class="orange"><a href="#">@lstGenres.Genres.FirstOrDefault(x => x.Id == item.GenreIds[2]).Name</a></span>
                                    }
                                }
                            </div>
                            <h1>
                                <a href="#">
                                    @item.Title<br>
                                    <span>@item.ReleaseDate.Year</span>
                                </a>
                            </h1>
                            <div class="social-btn">
                                <a href="#" class="parent-btn"><i class="ion-play"></i> Watch Trailer</a>
                                <a href="#" class="parent-btn"><i class="ion-heart"></i> Add to Favorite</a>
                                <div class="hover-bnt">
                                    <a href="#" class="parent-btn"><i class="ion-android-share-alt"></i>share</a>
                                    <div class="hvr-item">
                                        <a href="#" class="hvr-grow"><i class="ion-social-facebook"></i></a>
                                        <a href="#" class="hvr-grow"><i class="ion-social-twitter"></i></a>
                                        <a href="#" class="hvr-grow"><i class="ion-social-googleplus"></i></a>
                                        <a href="#" class="hvr-grow"><i class="ion-social-youtube"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="mv-details">
                                <p><i class="ion-android-star"></i><span>@item.VoteAverage</span> /10</p>
                                <ul class="mv-infor">                                    
                                    <li>  Rated: @item.VoteCount  </li>
                                    <li>  Release: @item.ReleaseDate.ToString("MM/dd/yyyy")</li>
                                </ul>
                            </div>
                            <div class="btn-transform transform-vertical">
                                <div>@Html.ActionLink("more detail", "Detail", "Movies", new { movieId=item.Id } ,new {@class="item item-1 redbtn"})</div>
                                <div>@Html.ActionLink("more detail", "Detail", "Movies", new { movieId = item.Id },new { @class="item item-2 redbtn hvrbtn"})</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="mv-img-2">
                            <a href="Movies/Detail?movieId=@item.Id"><img src="https://image.tmdb.org/t/p/original/@(item.PosterPath)" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        }
        
    </div>
</div>